Act1Libreria/libreria.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libreria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo" default="Título desconocido"/>
              <xs:element type="xs:string" name="autor" maxOccurs="unbounded" minOccurs="1" default="Anónimo"/>
              <xs:element type="xs:string" name="genero" maxOccurs="unbounded" minOccurs="1" default="No Disponible"/>
              <xs:element type="xs:float" name="precio" default="0.00"/>
            </xs:sequence>
            <xs:attribute type="xs:ID" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>