Act2_3Concesionario/concesionario.dtd

<!ELEMENT concesionario (coche*)>
<!ELEMENT coche (marca, modelo, matricula, potenciaCV, plazas, num_puertas)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potenciaCV (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT num_puertas (#PCDATA)>
<!ATTLIST coche cod_coche ID #REQUIRED>