Act2_3Concesionario/concesionario.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="marca" default="N/D"/>
                            <xs:element type="xs:string" name="modelo" default="N/D"/>
                            <xs:element type="xs:string" name="matricula" default="N/D"/>
                            <xs:element type="xs:int" name="potenciaCV" default="0"/>
                            <xs:element type="xs:int" name="plazas" default="0"/>
                            <xs:element type="xs:int" name="num_puertas" default="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:ID" name="cod_coche" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>